nav{
    width: 15%;
    position: absolute;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.6);
}
nav ul {
    position: relative;
    list-style-type: none;
}
nav ul li a{
    display: flex;
    align-items: center;
    font-size: 1.15em;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    height: 50px;
    transition: all 0.5s ease;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
nav ul li a:hover{
    background: rgba(0, 0, 0, 0.6);
}
nav ul ul{
    position: absolute;
    left:100%;
    top: 0;
    width: 250px;
    display: none;
    background: rgba(44,83,100,1);
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
nav ul .dropdown span {
    position: absolute;
    right: 20px;
}
nav ul .dropdown img {
    border-radius: 50%;
    margin-right: 15px;
}
#icon-setting,
#icon-logout,
#icon-req,
#icon-home,
#icon-reg,
#icon-re,
#icon-pencil{
    margin-right: 10px;
}
nav ul .dropdown{
    position: relative;

}
nav ul .dropdown:hover ul{
    display: initial;
}
.container{
    background: rgb(58,69,101);
    position: absolute;
    left: 15%;
    top: 0%;
    bottom: 0%;
    right: 0;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    color: whitesmoke;
    padding: 15px;
    border:1px solid black;
    background: rgba(255, 255, 255, 0.5);
    border-spacing: 0;
}
table tr td,
table tr th{
    border:1px solid black;
    padding: 15px;
    text-align: center;
}
table tr th{
    background: rgba(0, 0, 0, 0.6);

}
table tr td{
    padding: 5px;
    color: black;
    transition: all 0.4s ease;
}
table tr td:hover{
    background: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}
.title{
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.title label{
    font-size: 25px;
}
.title:hover{
    background: white;
    color: black;
}