<nav>
    <button (click)='prijava()'> Prijava</button>
    <button (click)='registracija()'> Registracija</button>
</nav>
<div class="home"></div>
<div class="titles">
    <div class="title-welcome">
        <label>Dobro došli na portal</label>
    </div>
    <div class="title-name">
        <label>Elektronska Škola</label>
    </div>
    <div class="btn-about">
        <button (click)='prijava()'>O nama</button>
    </div>
</div>
<div class="info">
    <div class="school-users">
        <div class="school">
            <div class="title">
                Škola
            </div>
            <div class="number">
                100
            </div>
        </div>
        <div class="users">
            <div class="title">
                Korisnika
            </div>
            <div class="number">
                50000
            </div>
        </div>
    </div>
    <div class="teacher-student">
        <div class="teacher">
            <div class="title">
                Nastavnika
            </div>
            <div class="number">
                500
            </div>
        </div>
        <div class="student">
            <div class="title">
                Učenika
            </div>
            <div class="number">
                7600
            </div>
        </div>
    </div>
</div>
<div class="footer">
    Copyright © 2021 Luka Simović and Miroslav Mirković.
</div>