.glass{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.glass .title{
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}


.glass .select select{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    transition: all .4s ease;
}
.glass .select select:hover,
.glass .select select:focus{
    background: white;
}
.glass .select label{
    padding: 5px;
}

.glass .send-message{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.glass .send-message textarea{
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.4s ease;
}

.glass .send-message textarea:hover,
.glass .send-message textarea:focus{
    background: white;
}
.glass .send-message button{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgb(3, 67, 141);
    color: white;
    transition: all 0.4s ease;
    cursor: pointer;
}
.glass .send-message button:hover{
    background: rgba(3, 67, 141, 0.5);
}